h1{
    color:red ;
    background-color: yellow;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}
p{
    color:teal ;
    background-color: burlywood;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
}